@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Oswald:wght@400;500;600;700&display=swap');

*{
    inset: 0;
    box-sizing: border-box;

}
body{

    background-color: rgb(48, 48, 48);
    font-family: 'Montserrat', sans-serif;
    color: white;

}
header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
.container input{
    border-radius: 20px;
    border: none;
    padding: 3px;
    height: 20px;
}

#button{
    background-color:  rgb(12, 112, 242);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.bntDay{

display: flex;
background: rgb(239, 235, 228);
justify-content: center;
align-items: center;
border-radius: 20px;
border: none;

width: 100px;
height: 30px;

font-size: 17px;
font-weight: 600;
font-family:'Oswald', sans-serif; 
text-transform: uppercase;
cursor: pointer;

}  .btnNight{

display: none;
background: rgb(239, 235, 228);
justify-content: center;
align-items: center;
border-radius: 20px;
border: none;

width: 100px;
height: 30px;

font-size: 17px;
font-weight: 600;
font-family:'Oswald', sans-serif; 
text-transform: uppercase;

background-color: rgb(48, 48, 48);
color: white;
border: none;
cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    position: relative;
    left: 700px;
    top: 190px;
    width: 30%;

    background: rgb(239, 235, 228);
    color: black;
}

@media only screen and (max-width: 500px){

    header h1{

        font-size: 20px;

    }
    .bntDay{

    display: flex;
    position: relative;
    left: 20px;
    height: 20px;
    font-size: 10px;
    width: 60px;
    padding: 2px;
    padding-bottom: 2.5px;
    

    }  .btnNight{

        display: none;
        position: relative;
        left: 20px;
        height: 20px;
        font-size: 10px;
        width: 60px;
        padding: 2px;
        padding-bottom: 2.5px;
    

    }
    
    
    .container{

        display: flex;
        margin-left: -630px;
        width: 250px;

    }



}